.info
    {
        margin-left: 400px;
    }
    .image
    {
        margin-left: 170px;
        margin-top: -140px;
        border-radius: 5px;
    }
    .info2
    {
        margin-bottom: 10px;
    }
    .star
    {
        margin-left: 400px;
        margin-top: -140px;
        color: rgb(194, 194, 194);
    }
    .btn1
    {
        border-radius: 7px; 
        color: white; 
        background-color: black;   
        border: 1px solid black;
        width: 125px; 
        height: 35px;
    }
    .btn2
    {
        border-radius: 7px; 
        background-color: rgb(84, 75, 218); 
        border: 1px solid rgb(84, 75, 218);
        color: white;
        width: 100px; 
        height: 35px;
        margin-left: 10px;
    }
    .buttons
    {
        margin-left: 400px;
        margin-top: -10px;
    }

    .size {
  width: 30px;
  padding: 5px;
  margin-left: 400px;
  background-color: rgb(84, 75, 218);
  color: white;
  text-align: center;

}

.size2 {
  width: 30px;
  padding: 5px;
  margin-left: 450px;
  margin-top: -27px;
  background-color: rgb(241, 237, 237);
  color: black;
  text-align: center;
}

.size3 {
  width: 30px;
  padding: 5px;
  margin-left: 500px;
  margin-top: -27px;
  background-color: rgb(84, 75, 218);
  color: white;
  text-align: center;
}

.quantity {
  width: 90px;
  padding: 5px;
  border: 1px solid rgb(224, 221, 221);
  margin-left: 400px;
  margin-top: -15px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-family: sans-serif;
}

